@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap')


* {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%; 
    margin: 0;
    padding: 0;
    -webkit-box-sizing:border-box;
    box-sizing: border-box;  
}


body { 
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
    height: 100%;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("back.webp");

    -webkit-perspective: 1;
    background-repeat: repeat;
    background-size: 60vw;
    opacity: 0.3;
    z-index: -1;
}


.header, section{
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin: 3vw;
    padding-bottom: 2vw;
}

.header::before{
    position: absolute;
    z-index: -1;
    content: '';

    background: var(--tg-theme-secondary-bg-color);
    opacity: 0.75;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.instruction{
    text-align: center;
    font-size: small;
    margin-top: 2vw;
    margin-bottom: 2vw;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}

#addition.instruction {
    width: -webkit-fill-available;
    z-index:2;
    overflow: hidden;
    font-size: x-small;
    color: var(--tg-theme-hint-color);
}


section::before{
    background-color: gray;
    position: absolute;
    z-index: -1;
    content: '';

    background: var(--tg-theme-secondary-bg-color);
    opacity: 0.75;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.content{
    display: grid;
    grid-template-columns: [start] 1fr [line1] 1fr [line2] auto [line3];;
}

details {
    width: -webkit-fill-available;
    z-index:2;
    overflow: hidden;
    /*! background-color: var(--tg-theme-secondary-bg-color);*/
    opacity: 0.7;
}

details:hover {
    /*! background: var(--tg-theme-header-bg-color);*/
    color: var(--tg-theme-accent-text-color);
    opacity: 0.7;
}

details summary{
    border-radius: 5px;
    background-color:  var(--tg-theme-header-bg-color); 
    padding-left: 2vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

details summary::before{
    margin-right: 5px;
    -webkit-transition: height 0.3s ease-out, opacity 0.3s ease 0.5s;
    -moz-transition: height 0.3s ease-out, opacity 0.3s ease 0.5s;
    -o-transition: height 0.3s ease-out, opacity 0.3s ease 0.5s;
    transition: height 0.3s ease-out, opacity 0.3s ease 0.5s;
}

details[open] summary::before{
    margin-right: 5px;
    -webkit-transition: height 0.3s ease-out, opacity 0.3s ease 0.5s;
    -moz-transition: height 0.3s ease-out, opacity 0.3s ease 0.5s;
    -o-transition: height 0.3s ease-out, opacity 0.3s ease 0.5s;
    transition: height 0.3s ease-out, opacity 0.3s ease 0.5s;
}

details div{
    border: 1px solid #eee;
    padding: 5px;
    margin: 3vw;
}

details > summary{
    color: var(--tg-theme-text-color);
    flex-grow: 1;
    margin-top: 2vw;
    margin-left: 3vw;
    margin-right: 3vw;
}

details p{
    margin-top: 1vw;
    margin-bottom: 1vw;
    color: var(--tg-theme-text-color);
    grid-column: start / line1;
}

input{
    cursor: auto;
}

input[type='checkbox'] {
    height: 15px;
    display: inline;
    vertical-align: middle;
}


label[for^='ch'] {
    font-size: x-small;
    text-align: -webkit-auto;
    font-style: italic;
    color: var(--tg-theme-hint-color);
    grid-column: line1 / line2;
    line-height: 0.9;
    text-align: start;
    display: flex;
    justify-content: center;
    margin: 1vw auto;
    padding-left: 1vw;
    padding-right: 1vw;
}

input[type='text'] {
    width: -webkit-fill-available;
    width: inherit;
    height: 30px;
    outline: none;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 10px 10px;
    font-size: 14px;
    border: 2px solid;
    border-radius: 5px;
    grid-column: start / line3;
}


.breakfast input {
    border-color: #E4BA6A;
}

.lunch input {
    border-color: #787D46;
}

.snack input {
    border-color: #F1EBD8;
}

.dinner input {
    border-color: #7D4E25;
}


.forbutton {
    display: flex;
    justify-content: center;
}

#saveButton{
    display:  inline-block;
    margin-right: inherit;
    border-radius: 5px;
    margin-top: 20px;
        
    height: 50px;
    width: 150px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 500ms ease;
    color: var(--tg-theme-button-text-color);
    background: var(--tg-theme-button-color);

}

button:hover {
    background: var(--tg-theme-secondary-bg-color);
    color: var(--tg-theme-accent-text-color);
}  

input:focus {
    border-color: var(--tg-theme-accent-text-color);
}
