@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap')
	
* {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%; 
    margin: 0;
    padding: 0;
    -webkit-box-sizing:border-box;
    box-sizing: border-box;  
}


body { 
    flex-direction: column;
    padding: 20px;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
    margin: 0;
}

body::after {
    content: "";
    /*display: block;*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("back.webp");
    background-repeat: repeat;
    background-size: 60vw;
    opacity: 0.3;
    z-index: -1;
    
}

div{
    margin-top: 0;
    margin-bottom: 10px;

    background-size: cover;
    background: var(--tg-theme-secondary-bg-color);

}

.instruction{
    text-align: center;
    font-size: small;
    margin-top: 0;
    margin-bottom: 10px;
}

#addition.instruction {
    font-style: italic;
    color: var(--tg-theme-hint-color);
}

details {
    width: -webkit-fill-available;
    z-index:2;
    overflow: hidden;
    background-color: var(--tg-theme-secondary-bg-color);
}

details:hover {
    background: var(--tg-theme-header-bg-color);
    color: var(--tg-theme-accent-text-color);
}

details summary{
    border-radius: 5px;
    background-color: var(--tg-theme-secondary-bg-color);
}



details summary::before{
    margin-right: 5px;
    transition: height 1.5s width 1s;
}

details[open] summary::before{
    margin-right: 5px;
    transition: height 1.5s width 1s;
}

details div{
    border: 1px solid #eee;
    padding: 10px;
}

details > summary{
    padding: 10px;
    font-size: 20px;
    transition: color 1s linear 1s;
}

details p{
    margin-top: 0;
    margin-left: 10px;
    margin-bottom: 5px;
    color: var(--tg-theme-text-color);
}

#saveButton{
    margin: 0 auto;
    display:  inline-block;
    margin-right: inherit;
    border: 1;
    border-radius: 5px;
    margin-top: 20px;
		
    height: 50px;
    width: 150px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 500ms ease;
    color: var(--tg-theme-button-text-color);
    background: var(--tg-theme-button-color);

}

button:hover {
    background: var(--tg-theme-secondary-bg-color);
    color: var(--tg-theme-accent-text-color);
}


input {
    width: -webkit-fill-available;
    width: 87%;
    height: 30px;
    outline: none;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 10px 10px;
    font-size: 14px;
    border: 2px solid;
    border-radius: 5px;
}

.breakfast input {
    border-color: #E4BA6A;
}

.lunch input {
    border-color: #787D46;
}

.snack input {
    border-color: #F1EBD8;
}

.dinner input {
    border-color: #7D4E25;
}
input:focus {
    border-color: var(--tg-theme-accent-text-color);
}

    
